._err {
  width: 400px;
  height: 400px;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

._loading {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  ._err {
    width: 90vw;
    height: 90vw;
  }
}

.cats_view_wrap {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

  .cat_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 5px;

    ._img {
      width: 100%;
      height: auto;
      transition: .3s;
      cursor: pointer;
    }

    ._img:hover {
      scale: 1.1;
      transition: .3s;
    }

    ._img:active {
      scale: 1.15;
    }
  }
}


@media (max-width: 1024px) {
  .cats_view_wrap {
    width: 90%;
    .cat_block {
      width: 40%;

      ._img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .cats_view_wrap {
    width: 80%;
    .cat_block {
      width: 90%;

      ._img {
        width: 80%;
      }
    }
  }
}
